body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", sans-serif;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
  color: #66bfbf;
  height: 100px;
}
h2 {
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
  color: #66bfbf;
  font-weight: normal;
  width: 50%;
  margin: 0 auto 50 auto;
}
h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
  width: 50%;
  margin: 0 auto 50 auto;
}
.top-container {
  background-color: #eaf6f6;
  padding-top: 100px;
  position: relative;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
.footer-link {
  color: #11999e;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.computer {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.chillies {
  width: 25%;
  float: right;
  margin-left: 30px;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
  margin-bottom: 50px;
}
.who-I-am {
  width: 50%;
  margin: 5 auto 50 auto;
}
.Jaime {
  margin-top: 100px;
}
.bottom-container {
  background-color: #66bfbf;
  padding-top: 100px;
  padding-bottom: 100px;
}
.btn {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: #0f888d;
  margin: 30 auto 50 auto;
}

.styled:hover {
  background-color: #0eacb1;
}

.get-in-touch {
  width: 50%;
  margin: 10 auto 50 auto;
}
.copyright {
  color: #fff;
}
.footer-link {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
  margin: auto 10 auto 10;
  text-decoration: none;
  font-weight: 900;
}
.styled:hover {
  background-color: #0eacb1;
}
.get-in-touch {
  width: 50%;
  margin: 10 auto 50 auto;
}
.styled:hover {
  background-color: #0f888d;
  
}